---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/main.astro";
import Link from "@/components/shared/link";
---

<Layout title="Dashboard">
  <div class="grid place-items-center h-screen content-center">
    <Button>Tailwind Button in Dashboard!</Button>
    <Link href="/">Go home</Link>
  </div>
</Layout>
