---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/main.astro";
import Link from "@/components/shared/link";
---

<Layout title="Astro Here">
	<div class="grid place-items-center h-screen content-center">
		<Button>Tailwind Button in Astro!</Button>
		<Link set:text="Go to dashboard" href="/dashboard" />
	</div>
</Layout>
